[Unit]
Description=tcrawler
After=syslog.target network.target

[Service]
User=tcrawler
SuccessExitStatus=143
WorkingDirectory=/opt/tcrawler
ExecStart=/usr/bin/env java -jar /opt/tcrawler/tcrawler-1.0-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target
