<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="inner" th:fragment="menu">
    <script>


        function runCrawler() {
            $.post({
                url: '/cp/crawler',
                success: function (data) {
                    alert("Crawler finished: " + JSON.stringify(data));
                }
            });
        }

        function syncVerdicts() {
            $.post({
                url: '/cp/sync-all-verdicts',
                success: function (data) {
                    alert("Sync verdict finished: " + JSON.stringify(data));
                }
            });
        }

        function redirectToSearchResults() {
            var searchField = $('#search-field');
            var queryTest = searchField.val().toLowerCase();
            if (queryTest.length > 0) {
                var redirectUri = "/?q=" + queryTest + "&size=50";
                console.log("Redirecting to: " + redirectUri);
                window.location.href = redirectUri;
            }
        }

        $(document).ready(function () {
            var searchField = $('#search-field');
            searchField.keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    redirectToSearchResults();
                }
            });
        });

    </script>
    <section class="alt" id="search" th:with="existedQuery=${#request.getParameter('q')}">
        <input id="search-field"
               name="query"
               placeholder="Поиск"
               th:value="${existedQuery != null ? existedQuery: ''}"
               type="text"/>
    </section>

    <!-- Menu -->
    <nav id="menu">
        <header class="major">
            <h2>Меню</h2>
        </header>
        <ul>
            <li>
                <span>
                  <img src="/img/dump.png"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Загрузить новые рекомендации"
                       onclick="runCrawler()"
                       class="clickable-element"
                       style="max-height: 32px; max-width: 32px;"/>

                    <img src="/img/cloud-sync.png"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="Синхронизировать вердикты"
                         onclick="syncVerdicts()"
                         class="clickable-element"
                         style="max-height: 32px; max-width: 32px;"/>
                </span>
            </li>
            <li><a class="icon fa-list menu-item" href="/">Список</a></li>
            <li><a class="icon fa-newspaper-o menu-item" href="/latest">Новые</a></li>
            <li><a class="icon fa-heart-o menu-item" href="/likes">Лайки?</a></li>
            <li><a class="icon fa-thumbs-up menu-item" href="/verdicted">Синхронизация</a></li>
            <li><a class="icon fa-random menu-item" href="/random">Случайные</a></li>
        </ul>
    </nav>
</div>
</body>
</html>