<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:if="${!users.isEmpty()}" th:fragment="auserlist">
    <script>
        function hideUser(user) {
            $.post({
                url: '/cp/hide/' + user,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#user-row-container-' + user).remove();
                }
            });
        }

        function setVerdict(user, verdict) {
            $.post({
                url: '/cp/verdict',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    id: user,
                    verdict: verdict
                }),
                success: function (data) {
                    $('#user-row-container-' + user).remove();
                }
            });

        }

        function syncVerdict(user) {
            $.post({
                url: '/cp/sync-verdict',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    id: user
                }),
                success: function (data) {
                    alert("syncVerdict: " + JSON.stringify(data));
                    //TODO: Тут может быть ошибка, нельзя просто-так удалять элемент
                    // $('#user-row-container-' + user).remove();
                }
            });
        }

    </script>
    <div th:replace="~{fragments/paging::pagingcontrol}"></div>
    <!--@thymesVar id="adminViewDTO" type="test.view.AdminViewDTO"-->
    <!--/*@thymesVar id="users" type="java.util.List<ru.gotinder.crawler.persistence.dto.CrawlerDataDTO>"*/-->
    <div class="container" th:each="u : ${users}">
        <!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
        <!--@thymesVar id="u" type="ru.gotinder.crawler.persistence.dto.CrawlerDataDTO"-->
        <!--*/-->
        <div th:id="${'user-row-container-' + u.getId()}">


            <div>
                <a
                        th:title="
                        ${
                            'Данные получены ' +
                            (
                                updatedAtDuration.toDays() > 0 ?
                                    updatedAtDuration.toDays() + ' дней назад' :
                                    ' недавно(' + updatedAtDuration.toHours() + 'ч назад)'
                            )
                        }"
                        style="font-size: large"
                        th:classappend="
                        ${
                            (u.getVerdict() == T(ru.gotinder.crawler.persistence.dto.VerdictEnum).UNDEFINED ? 'undefined-verdict': '') +
                            (u.getVerdict() == T(ru.gotinder.crawler.persistence.dto.VerdictEnum).SUPERLIKE ? 'superliked' : '') +
                            (u.getVerdict() == T(ru.gotinder.crawler.persistence.dto.VerdictEnum).LIKE ? 'liked' : '') +
                            (u.getVerdict() == T(ru.gotinder.crawler.persistence.dto.VerdictEnum).PASS ? 'disliked' : '')
                        }"
                        th:href="@{'/user/'+${u.getId()}}"
                        th:text="${u.getName()}"
                        th:with="updatedAtDuration=${T(java.time.Duration).between(u.getUpdatedAt(),T(java.time.Instant).now())}"
                >
                </a>
            </div>

            <div class="row">
                <div class="col-3">
                    <img class="image" th:src="${u.getPhoto().get(0)}"/>
                </div>
                <div class="col-9">
                    <span th:text="${u.getBio()}"></span>

                    <details class="clickable-element" style="font-weight: 900; font-size: 18px">
                        <summary>Фото</summary>
                        <div th:each="photo : ${u.getPhoto()}">
                            <img style="max-height: 600px; max-width: 400px;" th:src="${photo}">
                        </div>
                    </details>

                    <details class="clickable-element" style="font-weight: 900; font-size: 18px"
                             th:if="${!u.getTeasers().isEmpty()}">
                        <summary>Инфо</summary>
                        <table th:each="e : ${u.getTeasers().entrySet()}" th:if="${!u.getTeasers().isEmpty()}">
                            <tr>
                                <td th:text="${e.getKey()}"></td>
                                <td th:text="${e.getValue()}"></td>
                            </tr>
                        </table>
                    </details>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div>
                    <span>
                        <img alt="rating" src="/img/analysis.png" title="Рейтинг"/>
                        <span style="font-size: 32px; font-weight: bold" th:text="${u.getRating()}"></span>
                    </span>
                    </div>
                    <div>
                    <span>
                         <img alt="years" src="/img/birthday-cake.png" title="Возраст"/>
                        <span th:text="${(T(java.time.LocalDateTime).now().getYear() - u.getBirthday().getYear())}"></span>
                    </span>
                        <span>
                        <img alt="dst" src="/img/compass.png" title="Расстояние"/>
                        <span th:text="${u.getDistance()}"></span>
                    </span>
                        <span>
                         <img alt="recs-duplicate" src="/img/dart.png" title="Тиндер рекомендует"/>
                        <span th:text="${u.getRecsDuplicateCount()}"></span>
                    </span>
                    </div>
                </div>
                <div class="col-9">
                 <span style="float:right">
                     <img
                             alt="hide"
                             class="clickable-element"
                             onclick="hideUser(this.getAttribute('data-user-id'))"
                             src="/img/trash.png"
                             th:data-user-id="${u.getId()}"
                             title="Скрыть"/>
                <img
                        alt="pass"
                        class="clickable-element circle-animation-img"
                        src="/img/pass.png"
                        onclick="setVerdict(this.getAttribute('data-user-id'),this.getAttribute('data-verdict'))"
                        title="Дизлайк"
                        th:data-user-id="${u.getId()}"
                        th:data-verdict="${T(ru.gotinder.crawler.persistence.dto.VerdictEnum).PASS.toString()}"/>

                <img
                        alt="like"
                        title="Суперлайк"
                        class="clickable-element"
                        onclick="setVerdict(this.getAttribute('data-user-id'),this.getAttribute('data-verdict'))"
                        src="/img/superlike.png"
                        th:data-user-id="${u.getId()}"
                        th:data-verdict="${T(ru.gotinder.crawler.persistence.dto.VerdictEnum).SUPERLIKE.toString()}"/>

               <img
                       alt="like"
                       class="clickable-element"
                       onclick="setVerdict(this.getAttribute('data-user-id'),this.getAttribute('data-verdict'))"
                       src="/img/like.png"
                       th:data-user-id="${u.getId()}"
                       th:data-verdict="${T(ru.gotinder.crawler.persistence.dto.VerdictEnum).LIKE.toString()}"
                       title="Лайк"/>

                <img class="clickable-element"
                     data-placement="top"
                     data-toggle="tooltip"
                     onclick="syncVerdict(this.getAttribute('data-user-id'))"

                     src="/img/sync.png"
                     th:data-user-id="${u.getId()}"
                     th:href="@{/cp/sync-verdict(id=${u.getId()})}"
                     th:if="${u.getVerdict() != T(ru.gotinder.crawler.persistence.dto.VerdictEnum).UNDEFINED}"
                     th:title="'Синхронизировать результат' + '(' + ${u.getVerdict()} + ')'">
                </span>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div th:replace="~{fragments/paging::pagingcontrol}"></div>
</div>

<div th:unless="${!users.isEmpty()}" th:fragment="auserlist">
    Нет данных
</div>

</body>
</html>