<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="std-navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="height: 64px;">
    <a class="navbar-brand" th:href="@{'/?' + 'type=ALL'}">Список</a>
    <a class="navbar-brand" th:href="@{'/?' + 'type=LATEST'}">Новые</a>
    <a class="navbar-brand" th:href="@{'/?' + 'type=VERDICTED'}">Синхронизация</a>
    <a class="navbar-brand" th:href="@{'/cp/crawler'}">
        <img src="/img/dump.png"
             data-toggle="tooltip"
             data-placement="top"
             title="Загрузить новые рекомендации"
             style="max-height: 32px; max-width: 32px;"/>
    </a>
    <a class="navbar-brand" th:href="@{'/sync-verdicts'}">
        <img src="/img/cloud-sync.png"
             data-toggle="tooltip"
             data-placement="top"
             title="Синхронизировать вердикты"
             style="max-height: 32px; max-width: 32px;"/>
    </a>
</nav>
</body>

</html>